.App {
  text-align: center;
}

.App-logo {
  height: 100px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* Nerdy secret: You can use "less" below! Don't tell anybody... */
.github-profile {
  margin: 1rem;
}

.pic {
  width: 75px;
}

.info {
  display: inline-block;
  margin-left: 12px;
  vertical-align: top;
  padding-top: 13px;
}

.name {
    font-size: 1.25rem;
    font-weight: bold;
}

.input-box {
    margin-right: 15px;
}

form {
  border: thin solid #ddd;
  background-color: #fbfbfb;
  padding: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.header {
  text-align: center;
  font-size: 2.5rem;
}
